<app-navbar />
<mat-sidenav-container class="example-container">
    <mat-sidenav *ngIf="isLogged && autorizador" mode="side" opened>
        <button mat-button color="primary" (click)="navigate('/centros')">Centro Costos</button>
        <button mat-button color="primary" (click)="navigate('/movimientos')">Movimientos Planilla</button>
        <button mat-button color="primary" (click)="navigate('/trabajadores')">Trabajadores</button>
        <button mat-raised-button color="warn" (click)="autorizadorLogout()">Cerrar Sesión Como Autorizador</button>
    </mat-sidenav>
    <mat-sidenav *ngIf="isLogged && !autorizador" mode="side" opened>
        <button mat-raised-button color="primary" (click)="autorizadorLoginDialog()">Iniciar Sesion Como
            Autorizador</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>