<div>
    <mat-dialog-content class="mat-typography">

        <form [formGroup]="form" class="grid-container">

            <mat-form-field appearance="outline" class="grid-item1">
                <mat-label>Codigo Compania</mat-label>
                <input matInput formControlName="codigoCompania" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item2">
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="nombres" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item3">
                <mat-label>Tipo de trabajador</mat-label>
                <mat-select matInput formControlName="tipoDeTrabajdor">
                    <mat-option>Tipo de Trabajador</mat-option>
                    <mat-option *ngFor="let op of tipoTrabajador" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item4">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput formControlName="apellidoPaterno" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item5">
                <mat-label>Apellido Materno</mat-label>
                <input matInput formControlName="apellidoMaterno" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item6">
                <mat-label>Identificacion</mat-label>
                <input matInput formControlName="identificacion" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item7">
                <mat-label>Entidad Bancaria</mat-label>
                <input matInput formControlName="entidadBancaria" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item8">
                <mat-label>Carnet IESS</mat-label>
                <input matInput formControlName="carnetIess" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item9">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item10">
                <mat-label>Telefono Fijo</mat-label>
                <input matInput formControlName="telefonoFijo" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item11">
                <mat-label>Telefono Movil</mat-label>
                <input matInput formControlName="telefonoMovil" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item12">
                <mat-label>Genero</mat-label>
                <mat-select matInput formControlName="genero">
                    <mat-option>Escoger genero...</mat-option>
                    <mat-option *ngFor="let op of genero" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item13">
                <mat-label>Numero Cuenta Bancaria</mat-label>
                <input matInput formControlName="numeroCuentaBancaria" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item14">
                <mat-label>Codigo Categoria Ocupacion</mat-label>
                <input matInput formControlName="codigoCategoriaOcupacion" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item15">
                <mat-label>Ocupacion</mat-label>
                <input matInput formControlName="ocupacion" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item16">
                <mat-label>Centro Costos</mat-label>
                <mat-select matInput formControlName="centroCostos">
                    <mat-option>Escoger...</mat-option>
                    <mat-option *ngFor="let op of centroCostos" [value]="op.codigo">
                        {{op.codigo}} - {{op.nombreCentroCostos}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item17">
                <mat-label>Nivel Salarial</mat-label>
                <input matInput formControlName="nivelSalarial" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item18">
                <mat-label>Estado Trabajador</mat-label>
                <mat-select matInput formControlName="estadoTrabajador">
                    <mat-option>Escoger estado del trabajador...</mat-option>
                    <mat-option *ngFor="let op of estadoTrabajador" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item19">
                <mat-label>Tipo de Contrato</mat-label>
                <mat-select matInput formControlName="tipoDeContrato">
                    <mat-option>Escoger tipo de contrato</mat-option>
                    <mat-option *ngFor="let op of tipoContrato" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item20">
                <mat-label>Tipo Cese</mat-label>
                <mat-select matInput formControlName="tipoCese">
                    <mat-option value='N'>N - Ninguno</mat-option>
                    <mat-option *ngFor="let op of tipoCese" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item21">
                <mat-label>Estado Civil</mat-label>
                <mat-select matInput formControlName="estadoCivil">
                    <mat-option>Escoger estado civil...</mat-option>
                    <mat-option *ngFor="let op of estadoCivil" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item22">
                <mat-label>Tipo de Comision</mat-label>
                <input matInput formControlName="tipoDeComision" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item23">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput formControlName="fechaDeNacimiento" type='datetime-local'>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item24">
                <mat-label>Fecha de Ingreso</mat-label>
                <input matInput formControlName="FechaDeIngreso" autocomplete="off" type="datetime-local">
            </mat-form-field>

            <div *ngIf="form.get('tipoCese')?.value !== 'N' || !form.get('tipoCese')?.value" class="grid-item25">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Cese</mat-label>
                    <input matInput formControlName="FechaDeCese" autocomplete="off" type="datetime-local">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="grid-item26">
                <mat-label>Periodo de Vacaciones</mat-label>
                <input matInput formControlName="periodoDeVacaciones" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item27">
                <mat-label>Es Reingreso</mat-label>
                <mat-select matInput formControlName="esReingreso">
                    <mat-option *ngFor="let op of esReingreso" [value]="op.descripcion">
                        {{op.descripcion}} - {{op.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="form.get('esReingreso')?.value !== '0'" class="grid-item28">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Reingreso</mat-label>
                    <input matInput formControlName="FechaDeReingreso" autocomplete="off" type="datetime-local">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="grid-item29">
                <mat-label>Banco Cuenta Corriente</mat-label>
                <input matInput formControlName="bancoCuentaCorriente" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item30">
                <mat-label>Tipo de Cuenta</mat-label>
                <mat-select matInput formControlName="tipoDeCuenta">
                    <mat-option>Escoger tipo de cuenta</mat-option>
                    <mat-option *ngFor="let op of tipoCuenta" [value]="op.descripcion">
                        {{op.codigo}} - {{op.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item31">
                <mat-label>Forma Calculo 13ro</mat-label>
                <input matInput formControlName="fromaCalculo13ro" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item32">
                <mat-label>Forma Calculo 14to</mat-label>
                <input matInput formControlName="fromaCalculo14to" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item33">
                <mat-label>Bonificacion Complementaria</mat-label>
                <input matInput formControlName="bonificacionComplemantaria" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item34">
                <mat-label>Bonificacion Especial</mat-label>
                <input matInput formControlName="bonificacionEspecial" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item35">
                <mat-label>Remuneracion Minima</mat-label>
                <input matInput formControlName="remuneracionMinima" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item36">
                <mat-label>Cuota Cuenta Corriente</mat-label>
                <input matInput formControlName="cuotaCuentaCorriente" autocomplete="off" type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-item37">
                <mat-label>Fondo Reserva</mat-label>
                <input matInput formControlName="fondoReserva" autocomplete="off" type="text">
            </mat-form-field>
            
        </form>

        <div mat-dialog-actions>
            <button *ngIf="!data.data" mat-raised-button mat-dialog-close color="primary" (click)="createTrabajador()"
                [disabled]="form.invalid">Crear</button>
            <button *ngIf="data.data" mat-raised-button mat-dialog-close color="primary" (click)="editTrabajador()"
                [disabled]="form.invalid">Guardar</button>
            <button mat-button mat-dialog-close>Close</button>
        </div>
    </mat-dialog-content>
</div>